@page
@model HW1.Pages.CountryInfoModel
@{
    ViewData["Title"] = "Country";
}

<div>
    <h2 class="header-text">Информация о странах</h2>
    <ol>
        <li>
            <div class="header-country">
                <span>Ukraine</span>
                <img src="~/img/ukr.png" />
            </div>
            <ul>
                <li>
                    <p class="img-block">
                        <img src="~/img/ukr_img.jpg" />
                    </p>
                </li>
            </ul>
        </li>

        <li>
            <div class="header-country">
                <span>Spain</span>
                <img src="~/img/spain.png" />
            </div>
            <ul>
                <li>
                    <p class="img-block">
                        <img src="~/img/spain_img.jpg" />
                    </p>
                </li>
            </ul>
        </li>

        <li>
            <div class="header-country">
                <span>Poland</span>
                <img src="~/img/pol.png" />
            </div>
            <ul>
                <li>
                    <p class="img-block">
                        <img src="~/img/pol_img.jpg" />
                    </p>
                </li>
            </ul>
        </li>
    </ol>
</div>
