@page
@model RestaurantInfoModel
@{
    ViewData["Title"] = "Reastaurant";
}

<div>
    <h2 class="header-text">Информация о ресторанах</h2>
    <ol>
        <li>
            <p>Ресторан 'Золотой Вкус'</p>
            <ul>
                <li>
                    <p class="img-block">
                        <img src="~/img/restaurant.jpg" />
                    </p>
                    <p>      
                        Роскошный ресторан 'Золотой Вкус' - истинный храм гастрономии и утонченности, предлагающий
                        неповторимое путешествие в мир изысканных вкусов и великолепных атмосферных переживаний.
                        Расположенный в самом сердце исторического центра Парижа, этот изысканный ресторан является
                        симбиозом старинной элегантности и современного стиля.
                    </p>
                </li>
            </ul>
        </li>

        <li>
            <p>Ресторан 'Арома Оазис'</p>
            <ul>
                <li>
                    <p class="img-block">
                        <img src="~/img/restaurant2.jpg" />
                    </p>
                    <p>      
                        Ресторан 'Арома Оазис' — олицетворение изысканности и вкуса. В непринужденной атмосфере утонченности
                        наши блюда становятся настоящими шедеврами. Погрузитесь в мир удовольствия и гастрономических открытий,
                        наслаждаясь волшебным сочетанием великолепных вкусов и стильного интерьера.
                    </p>
                </li>
            </ul>
        </li>

        <li>
            <p>Ресторан 'Созвездие Вкусов'</p>
            <ul>
                <li>
                    <p class="img-block">
                        <img src="~/img/restaurant3.jpg" />
                    </p>
                    <p>      
                        Ресторан 'Созвездие Вкусов' — идеальное место для тех, кто ценит уникальные кулинарные композиции.
                        Здесь каждое блюдо — это гармония вкусов, а каждый визуальный элемент интерьера — произведение искусства.
                        Откройте для себя неповторимый опыт истинного гастрономического наслаждения.
                    </p>
                </li>
            </ul>
        </li>
    </ol>
</div>
